body {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  background-color: #083b4c;
}

h1 {
  color: white;
}

.container ul{
  display: flex;
  flex-flow: row wrap;
  list-style-type: none;
}

li{
  background-color: #1389b2;
  padding: 30px;
  margin: 10px;
}

.Frizz{
  background-color: #0bd6a1;
}

.Buzz{
  background-color: #ffd166;
}

