body {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  background-color: #083b4c;
}

h1 {
  color: white;
}

.container ul{
  display: flex;
  flex-flow: row wrap;
  gap: 20px;
  list-style-type: none;
}

li{
  background-color: #1389b2;
  width: calc((100% / 7) - 20px );
  padding: 5% 0;
}

.Frizz{
  background-color: #0bd6a1;
}

.Buzz{
  background-color: #ffd166;
}

.FrizzBuzz{
  background-color: #f0466f;
}

